# Learning to Rank на основе LETOR MQ2008
## Анализ данных, построение и оценка ранжирующей модели

In [32]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("taoqin/letor4")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'letor4' dataset.
Path to dataset files: /kaggle/input/letor4

In [48]:
import os
import pandas as pd
from lightgbm import LGBMModel, Dataset, train

In [34]:
fold_path = "/kaggle/input/letor4/MQ2008/Fold1"


print("Проверка наличия файлов:")
print("train.txt:", os.path.isfile(os.path.join(fold_path, "train.txt")))
print("vali.txt:", os.path.isfile(os.path.join(fold_path, "vali.txt")))
print("test.txt:", os.path.isfile(os.path.join(fold_path, "test.txt")))

Проверка наличия файлов:
train.txt: True
vali.txt: True
test.txt: True

In [35]:
def load_letor_data(file_path):
    data = []
    with open(file_path, 'r') as f:
        for line in f:
            line = line.strip()
            if not line:
                continue
            parts = line.split('#')[0].split()
            label = int(parts[0])
            qid = int(parts[1].split(':')[1])
            features = {f'feature_{i}': 0.0 for i in range(1, 47)}

            for elem in parts[2:]:
                if ':' in elem:
                    fid, value = elem.split(':')
                    fid = int(fid)
                    if 1 <= fid <= 46:
                        features[f'feature_{fid}'] = float(value)
                    else:
                      print(f"Недопуститмый признак. elem: {elem}, fid: {fid}" )

            row = {'label': label, 'qid': qid}
            row.update(features)
            data.append(row)

    df = pd.DataFrame(data)
    return df

In [36]:
train_df = load_letor_data(os.path.join(fold_path, "train.txt"))
print(f"Тренировочный сет: {train_df.head(5)}")
print(f"Размер: {train_df.shape}")

vali_df = load_letor_data(os.path.join(fold_path, "vali.txt"))
print(f"Валидационный сет: {vali_df.head(5)}")
print(f"Размер: {vali_df.shape}")

test_df = load_letor_data(os.path.join(fold_path, "test.txt"))
print(f"Тестовый сет: {test_df.head(5)}")
print(f"Размер: {test_df.shape}")

Тренировочный сет:    label    qid  feature_1  feature_2  feature_3  feature_4  feature_5  \
0      0  10002   0.007477        0.0        1.0        0.0   0.007470
1      0  10002   0.603738        0.0        1.0        0.0   0.603175
2      0  10002   0.214953        0.0        0.0        0.0   0.213819
3      0  10002   0.000000        0.0        1.0        0.0   0.000000
4      0  10002   1.000000        1.0        0.0        0.0   1.000000

   feature_6  feature_7  feature_8  ...  feature_37  feature_38  feature_39  \
0        0.0        0.0        0.0  ...    0.797056    0.697327    0.721953
1        0.0        0.0        0.0  ...    0.000000    0.000000    0.117399
2        0.0        0.0        0.0  ...    0.566409    0.760916    0.746370
3        0.0        0.0        0.0  ...    0.320586    0.133604    0.000000
4        0.0        0.0        0.0  ...    0.341228    0.292567    0.385569

   feature_40  feature_41  feature_42  feature_43  feature_44  feature_45  \
0    0.582568        0.00        0.00         0.0    0.000000    0.000000
1    0.560607        0.00        0.28         0.0    0.003708    0.333333
2    1.000000        0.00        0.00         0.0    1.000000    1.000000
3    0.000000        0.25        1.00         0.0    0.000000    0.000000
4    0.730347        1.00        0.84         0.0    0.184564    0.666667

   feature_46
0    0.007042
1    1.000000
2    0.021127
3    0.000000
4    0.000000

[5 rows x 48 columns]
Размер: (9630, 48)
Валидационный сет:    label    qid  feature_1  feature_2  feature_3  feature_4  feature_5  \
0      0  15928   1.000000        0.0        0.0        0.0   1.000000
1      0  15928   0.003315        0.0        1.0        0.0   0.005525
2      1  15928   0.093923        0.0        0.0        0.0   0.093923
3      1  15928   0.065193        0.0        0.0        0.0   0.065193
4      0  15928   0.064088        0.0        0.0        0.0   0.064088

   feature_6  feature_7  feature_8  ...  feature_37  feature_38  feature_39  \
0        0.0        0.0        0.0  ...    0.464795    0.770455    0.953383
1        0.0        0.0        0.0  ...    0.547185    0.602954    0.334044
2        0.0        0.0        0.0  ...    0.644989    0.777431    0.887408
3        0.0        0.0        0.0  ...    0.960456    1.000000    1.000000
4        0.0        0.0        0.0  ...    0.870716    0.825926    0.939000

   feature_40  feature_41  feature_42  feature_43  feature_44  feature_45  \
0    0.711831        0.50    0.290698         0.0    0.197431        0.50
1    0.313640        0.50    0.255814         0.0    0.212859        0.25
2    0.760799        0.25    0.127907         0.0    0.309468        1.00
3    1.000000        0.25    0.069767         0.0    0.178784        0.50
4    0.784191        0.50    0.255814         0.0    0.012703        0.25

   feature_46
0    0.000000
1    0.214286
2    0.357143
3    0.428571
4    0.214286

[5 rows x 48 columns]
Размер: (2707, 48)
Тестовый сет:    label    qid  feature_1  feature_2  feature_3  feature_4  feature_5  \
0      0  18219   0.052893       1.00       0.75        1.0   0.066225
1      0  18219   0.004959       0.00       0.25        0.5   0.006623
2      0  18219   0.066116       0.75       0.25        1.0   0.074503
3      1  18219   0.026446       0.75       0.75        0.5   0.036424
4      0  18219   0.029752       0.00       1.00        1.0   0.038079

   feature_6  feature_7  feature_8  ...  feature_37  feature_38  feature_39  \
0        0.0        0.0        0.0  ...    1.000000    1.000000    0.998377
1        0.0        0.0        0.0  ...    0.141223    0.212802    0.168053
2        0.0        0.0        0.0  ...    0.986045    0.963141    1.000000
3        0.0        0.0        0.0  ...    0.843365    0.727569    0.786101
4        0.0        0.0        0.0  ...    0.858094    0.761605    0.818017

   feature_40  feature_41  feature_42  feature_43  feature_44  feature_45  \
0    1.000000    0.333333    0.434783         0.0    0.396910    0.447368
1    0.069556    0.333333    0.000000         0.0    0.019255    0.421053
2    0.962716    0.666667    0.826087         0.0    0.045177    0.473684
3    0.725966    0.000000    0.608696         0.0    1.000000    1.000000
4    0.759069    0.333333    0.956522         0.0    0.013295    0.052632

   feature_46
0    0.966667
1    0.000000
2    1.000000
3    0.266667
4    0.100000

[5 rows x 48 columns]
Размер: (2874, 48)

##EDA

In [37]:
train_df['label'].value_counts()

label
0    7820
1    1223
2     587
Name: count, dtype: int64

In [38]:
vali_df['label'].value_counts()

label
0    2140
1     400
2     167
Name: count, dtype: int64

In [39]:
test_df['label'].value_counts()

label
0    2319
1     378
2     177
Name: count, dtype: int64

Наблюдается дисбаланс классов - класс 0 преобладает над остальными. Логично для специфики задачи - для конкретного запроса во всем интернете найдется больше нерелевантных документов, чем релевантных

In [40]:
train_label_stats = train_df.groupby('qid')['label'].agg(['max']).value_counts()
train_label_stats

max
2      200
1      139
0      132
Name: count, dtype: int64

In [41]:
vali_label_stats = vali_df.groupby('qid')['label'].agg(['size', 'max']).describe()
vali_label_stats

             size         max
count  157.000000  157.000000
mean    17.242038    1.197452
std     17.278414    0.796140
min      6.000000    0.000000
25%      8.000000    1.000000
50%      8.000000    1.000000
75%     16.000000    2.000000
max    118.000000    2.000000

In [42]:
test_label_stats = test_df.groupby('qid')['label'].agg(['max']).value_counts()
test_label_stats

max
2      63
0      51
1      42
Name: count, dtype: int64

Можно увидеть, что для некотрых запросов отсутсвуют релевантные документы и в таком случае, задача ранжирования для них неактуальна, однако не стоит удалять эти запросы из наших данных так, как в релаьном мире пользователи также могут оставлять некорректные запросы и наша цель - сформировать хоть какую-то выдачу. Также если мы удалим такие запросы, то поднимем итоговые метрики, однако они будут неактуальны потому, что, как я и сказал раньше, при использовании могут приходить "плохие данные", с которыми му не будем знать, что делать.


Также по анализу валидационной выборки можно увидеть разброс в количестве документов для разных запросов (от 6 до 118). Это может негативно сказаться на обучении, ведь тогда модель будет уделять внимание наибольшим группам и не уловить зависимости для маленьких. Для минимизации этой проблемы предлагается мониторить качество не только в целом, но и по подвыборкам разного размера.

#Обучение

In [43]:
group_train = train_df.sort_values(by="qid").groupby("qid").size().tolist()
group_vali = vali_df.sort_values(by="qid").groupby("qid").size().tolist()
group_test = test_df.sort_values(by="qid").groupby("qid").size().tolist()

In [45]:
x_train = train_df.drop(['label', 'qid'], axis=1)
y_train = train_df['label']
x_vali = vali_df.drop(['label', 'qid'], axis=1)
y_vali = vali_df['label']

In [49]:
train_data = Dataset(x_train, label=y_train, group=group_train)
vali_data = Dataset(x_vali, label=y_vali, group=group_vali, reference=train_data)

In [59]:
params = {
    'objective': 'lambdarank',
    'metric': 'ndcg',
    'eval_at': [5, 10],
    'learning_rate': 0.05,
    'verbose': 1,
    'num_iterations': 500,
    'early_stopping_rounds': 50
}

model = train(params,
                  train_data,
                  valid_sets=[vali_data],
                  valid_names=['vali'])

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002788 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 9233
[LightGBM] [Info] Number of data points in the train set: 9630, number of used features: 40
Training until validation scores don't improve for 50 rounds
Early stopping, best iteration is:
[16]	vali's ndcg@5: 0.747068	vali's ndcg@10: 0.793359